* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    border-radius: 8px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .save-button,
  .complete-button,
  .logout-button {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .save-button:disabled {
    background-color: rgba(247, 246, 246, 0.675);
    cursor: not-allowed;
  }
  
  .bloco {
    width: 100%;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .complete-button {
    background-color: green;
    color: white;
  }
  
  .logout-button {
    margin-top: 20px;
    background-color: red;
    color: white;
  }
  