<mat-card appearance="outlined" class="card">
  <mat-card-content>
    <form [formGroup]="taskForm" (ngSubmit)="addTask()">
      <div class="bloco">
        <label for="descricao">Descrição:</label>
        <input id="descricao" formControlName="descricao" class="input-field">
      </div>
      
      <div class="bloco">
        <label for="prioridade">Prioridade:</label>
        <input id="prioridade" formControlName="prioridade" class="input-field">
      </div>
      

      <button type="submit" [disabled]="taskForm.invalid" class="save-button">Adicionar Tarefa</button>
    </form>

    <ul class="task-list">
      <li *ngFor="let task of tasks" class="task-item">
        {{ task.descricao }} - {{ task.prioridade }}
        <button (click)="completeTask(task.id)" class="complete-button">Marcar como Concluída</button>
      </li>
    </ul>

    <button (click)="logout()" class="logout-button">Sair</button>
  </mat-card-content>
</mat-card>

